<!DOCTYPE html>
<html>

<head>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="homeStyle.css">
</head>

<body>
	<div class="container">
		<aside>
			<p>Docket</p>
			<div class="addNote"><i class="fa fa-plus" aria-hidden="true"></i></div>
		</aside>
		<main>
			<header>
				<label for="searchLogo"><i class="fa fa-search" aria-hidden="true"></i></label>
				<input id="searchLogo" class="searchInput" type="text" placeholder="Search">
			</header>
			<h1>Notes</h1>
			<section class="notesContainer">
				<form action="/postanote" method="POST" class="newNote" onsubmit="submitNoteColor()">
					<input name="title" type="text" placeholder="Titulo" />
					<textarea name="content" placeholder="poste este aqui" cols="30" rows="10"></textarea>
					<button type="submit"><i class="fa fa-bookmark-o" aria-hidden="true"></i></button>
				</form>
				{{#each posts}}
				<form class="Note" action="/modificar/{{dataValues.id}}" method="POST" style="background-color: {{dataValues.color}}">
					<a href="/deletar/{{dataValues.id}}">
						<div class="deleteBtn">
							<div class="pile one"></div>
							<div class="pile two"></div>
						</div>
					</a>
					<h2 class="title" ondblclick="modifyNoteTitle(this)">
						<p class="titleContent">{{dataValues.title}}</p>
						<input type="text" name="inputTitle" class="hidden">
					</h2>
					<p class="postContent" ondblclick="modifyNoteContent(this)">{{dataValues.content}}</p>
					<textarea name="inputPost" cols="18" rows="10" class="hidden"></textarea>
					<p class="createdAt">{{dataValues.createdAt}}</p>
					<div class="editBtn" onclick="modifyNote(this)"><i class="fa fa-pencil" aria-hidden="true"></i></div>
				</form>
				{{/each}}
			</section>
		</main>
	</div>
	<script src="script.js"></script>
</body>

</html>